/*Estilo genérico del sitio web*/

* {padding: 0;
  margin: 0;}


body {background-color: #00173D;}

header {background-color: #FFFFFF;}

header img {width: 25rem;
            height: 10rem;
            display: block;
            margin: auto;}

nav {background-color: #f94d50;
    height: 3rem;}

nav .nav-link {color: #FFFFFF;
              font-family: Arial, Helvetica, sans-serif;
              font-size: large;
              font-weight: bold; 
              text-transform: uppercase;}

nav .nav-link:hover {color: #00173D;}

/*Estilo del cuerpo del Index*/

main {display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 3.5rem;}

main .card {border-radius: 0%;
            border: solid 2px #f94d50;
            width: 25rem;}

main .card img {height: 20rem;
  	            width: 25rem;}

main h5 {color:#00173D;
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        font-weight: bold;
        text-align: center;}

main .accordion button {background-color: #00173D;
                      color: #FFFFFF;
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: medium;
                      text-align: center;
                      border: solid 2px #f94d50;
                      width: 30%;
                      margin: auto;}

main .accordion-body p {color: #00173D;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: large;
                        line-height: 3rem;
                        width: auto;}


/*Estilo de la página Sobre nosotros*/

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 4rem;
  padding-bottom: 4rem;}

  .parent div {background-color: #FFFFFF;
              border: solid 2px #f94d50;}

  .parent div h2 {color: #00173D;
                font-family: Arial, Helvetica, sans-serif;
                font-size: larger;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                padding: 1rem;}

  .parent div p {color: #00173D;
                font-family: Arial, Helvetica, sans-serif;
                font-size: large;
                line-height: 3rem;
                text-align: justify;
                padding: 2rem;}

  .parent div ul li {color: #00173D;
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: large;
                      text-align: justify;
                      line-height: 1rem;
                      padding: 2rem 2rem 0 2rem;}

/*Estilo de la p­ágina de Programas*/

.parent-programas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  }

  .parent-programas div {background-color: #FFFFFF;
                        border: solid 2px #f94d50;}

  .parent-programas div img {height: 16rem;
                            width: 10rem;
                            display: block;
                            margin: auto;
                            padding-top: 4%;}

  .parent-programas div h2 {color: #00173D;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: larger;
                            font-weight: bold;
                            text-transform: uppercase;
                            text-align: center;
                            padding: 1rem;}

  .parent-programas div p {color: #00173D;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: large;
                            line-height: 3rem;
                            text-align: justify;
                            padding: 1rem;}

/*Estilo de la página Clase de prueba*/

form {padding-top: 2%;
      padding-bottom: 4%;}

form label {color: #FFFFFF;
          font-family: Arial, Helvetica, sans-serif;
          font-size: larger;
          font-weight: bold;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;          
          }

form input {background-color: #f94d50;
          border: solid 2px #FFFFFF;
          font-family: Arial, Helvetica, sans-serif;
          font-size: large;
          color: #00173D;
          height: 2.5rem;
          width: 20rem;
          display: block;
          margin: auto;}

/*Estilo de la página de Contacto*/

.parent-contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 4rem;
  }

  .parent-contacto div {background-color: #FFFFFF;}

  .parent-contacto h2 {color: #00173D;
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: larger;
                      text-align: center;}

  .parent-contacto p {color: #00173D;
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: medium;
                      text-align: center;}

